@inject IViewLocalizer Localizer

@model Workie.Web.Admin.Areas.Apps.Models.Todo.QuickbarControls.QuickbarControlsTodoViewViewModel

@{
    TimeSpan unixTime = DateTime.Now.ToUniversalTime() - new DateTime(1989, 7, 1, 0, 0, 0, DateTimeKind.Utc);
}

<div role="tabpanel" class="tab-pane" id="qa-toDo">
    <div class="ms-quickbar-container ms-todo-list-container ms-scrollable ps">

        <form asp-area="Apps" asp-controller="Todo" asp-action="AddOrModifyTodoView"
              method="post"
              data-ajax-mode="replace"
              data-ajax="true"
              data-ajax-begin="QuickbarTodoIndexModule.onAddOrModifyTodoViewSubmitBegin"
              data-ajax-success="QuickbarTodoIndexModule.onAddOrModifyTodoViewSubmitSuccess"
              data-ajax-failure="QuickbarTodoIndexModule.onAddOrModifyTodoViewSubmitFailure">

            @Html.HiddenFor(model => model.Id)

            <div class="form-group mx-3 mt-0  fs-14 clearfix">
                <input type="text" class="form-control fs-14 float-left" id="task-block" name="Title" placeholder="@Localizer[" Add Task Block"]" value="">
                <button type="submit" class="ms-btn-icon bg-primary float-right">
                    <i class="material-icons text-disabled">
                        @Localizer["add"]
                    </i>
                </button>
            </div>
        </form>

        <partial name="QuickbarControls/DataTable/_DataTable_Result.cshtml" />
    </div>

</div>

<script type="text/javascript">

    function getDeleteTodoByIdUrl(id) {
        return '@Url.Action("DeleteTodoById", "Todo", new { Area = "Apps" })?id=' + id;
    }

</script>

