@inject IViewLocalizer Localizer
<nav class="navbar ms-navbar">

    <div class="ms-aside-toggler ms-toggler pl-0">
        @Localizer["Workie Setup"]
    </div>

    <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="/">
            <img src="~/mystic-kernel/assets/img/logo-sm-dark.png" alt="@Localizer["logo"]">
        </a>
    </div>

    <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">

        <li class="ms-nav-item">
            <a href="#" class="text-disabled ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight">
                <i class="flaticon-menu"></i>
            </a>
        </li>
        <li class="ms-nav-item ms-nav-user dropdown">
            <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="ms-user-img ms-img-round float-right" src="~/mystic-kernel/assets/img/people/people-5.jpg" alt="@Localizer["Options"]">
            </a>
            <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">

                <li class="dropdown-menu-footer">
                    <a asp-area="auth" asp-controller="logout" asp-action="" class="media fs-14 p-2">
                        <span>
                            <i class="flaticon-shut-down mr-2"></i>
                            @Localizer["Logout"]
                        </span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
        <span class="ms-toggler-bar bg-primary"></span>
    </div>

</nav>