@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Registration Form"];
}

<form action="@Url.Action("Register", "Register" , new { Area="Auth" } )"
      data-ajax-mode="replace"
      data-ajax="true"
      data-ajax-begin="RegisterResultModule.onViewRegisterSubmitBegin"
      data-ajax-success="RegisterResultModule.onViewRegisterSubmitSuccess"
      data-ajax-failure="RegisterResultModule.onViewRegisterSubmitFailure"
      id="ViewRegisterTableForm"
      data-ajax-update="#RegisterResult"></form>

<form action="@Url.Action("VerifyEmail", "Register" , new { Area="Auth" } )"
      data-ajax-mode="replace"
      data-ajax="true"
      data-ajax-begin="RegisterResultModule.onVerifyEmailSubmitBegin"
      data-ajax-success="RegisterResultModule.onVerifyEmailSubmitSuccess"
      data-ajax-failure="RegisterResultModule.onVerifyEmailSubmitFailure"
      id="VerifyEmailTableForm"
      data-ajax-update="#RegisterResult"></form>

<div id="RegisterResult">
    <div class="container text-muted">
        <p class="text-muted small">
            @Localizer["Please wait..."]
        </p>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/app/areas/auth/views/register/index.js")" type="text/javascript"></script>
}
